{% extends 'genericos/base.html' %}

{% block title_head %}
<title>Gastos Totales</title>
{% endblock title_head %}

{% block h1_header %}
<h1>Listado de Gastos</h1>
{% endblock h1_header %}


{% block contenido %}
<p>
    <form action={% url 'inicio:lista_de_gastos' %}>
        {{formulario}}
        <button>Buscar</button>
    </form>
</p>

{% if gastos %}
    {% for gasto in gastos %}
    <li>
        tipo: {{gasto.Tipo}} - articulo: {{gasto.Articulo}} - cantidad: {{gasto.Cantidad}} - precio: {{gasto.Precio}}
    </li>
    {% endfor %}

{% else %}
    <h2>No hay datos sobre gastos por el momento.</h2>
{% endif %}
{% endblock contenido %}


